CompileFlags:
  Add:
    - -std=c++20
    - -Wall
    - -Wextra
    - -Wpedantic
    # - -Werror
    - -Wno-sign-compare
    - -Wno-self-move
    - -Wno-unused-parameter
    - -Wno-unused-result
    - -Wno-unused-variable
    - -Wno-unused-function
    - -Wno-unused-label
    - -Wno-unused-value
